<footer class="footer footer-transparent footer-light navbar-shadow">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2 container center-layout">
    <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018
      Dodevs, All rights reserved. 
    </span>
    <span class="float-md-center d-block d-md-inline-block">Siga-me nas redes sociais
      <a class="" href="http://github.com/dodevs" target="_blank">
        <i class="ft-github black"></i>
      </a>
      <a class="" href="https://www.facebook.com/douglaschulz" target="_blank">
        <i class="ft-facebook blue"></i>
      </a>
    </span>
    <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Feito com
      <i class="ft-heart pink"></i>
    </span>
  </p>
</footer>